<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaft.org">
<head>
    <meta charset="UTF-8">
    <title>Estudiantes</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Estudiantes</h1>
    <p>Lista de estudiantes</p>
    <a href="#" th:href="@{/estudiantes/nuevo}">Nuevo Estudiante</a>
    <table class="table table-bordered table-sm">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="estudiante : ${estudiantes}">
            <td th:text="${estudiante.idEstudiante}"></td>
            <td th:text="${estudiante.nombre}"></td>
            <td th:text="${estudiante.apellido}"></td>
            <td th:text="${estudiante.edad}"></td>
            <td>
                <a th:href="@{/estudiantes/editar/{id}(id=${estudiante.idEstudiante})}" class="btn btn-info">Editar</a>
                <a th:href="@{/estudiantes/{id}(id=${estudiante.idEstudiante})}" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>